<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="userSearch">
                <button @click='filter' class="btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button @click="isVisibleCart=false" class="btn-cart" type="button">Корзина</button>
            <div class="cart-block invisible"></div>
        </div>
    </header>
    <main>
        <div v-if="filtered.length > 0">
            <div class="products">
                <div class="product-item" v-for="product in filtered" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}} $</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <p>Товаров с заданным критерием не найдено.</p>
        </div>
        <div class="modal_cart" :class="{'hidden': isVisibleCart}">
            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><h4 class="modal-title">Корзина</h4></div>
                        <div class="modal-body">
                            <table class="table goods-item">
                                <thead>
                                <tr class="ins2">
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Количество</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody class="showcase_cart"></tbody>
                            </table>
                        </div>
                        <p class="ms-3">Общая сумма товаров в корзине: <b>(cart)</b> рублей.</p>
                        <div class="modal-footer">
                            <button id="btn_clear" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                Очистить
                            </button>
                            <button @click="isVisibleCart=true" id="btn_close" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>

<!--<div class="cart-item" data-id="${this.id_product}">-->
<!--<div class="product-bio">-->
<!--<img src="${this.img}" alt="Some image">-->
<!--<div class="product-desc">-->
<!--<p class="product-title">${this.product_name}</p>-->
<!--<p class="product-quantity">Quantity: ${this.quantity}</p>-->
<!--<p class="product-single-price">$${this.price} each</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="right-block">-->
<!--<p class="product-price">${this.quantity*this.price}</p>-->
<!--<button class="del-btn" data-id="${this.id_product}">&times;</button>-->
<!--</div>-->
<!--</div>-->